@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

/* Animación para el resplandor */
@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #fbff00, 0 0 50px #fbff00, 0 0 100px #fbff00;
    }
    10%, 90% {
        color: #696565;
        text-shadow: none;
    }
}

/* Añadimos retraso progresivo para cada letra */
.greetings > span:nth-child(1) {
    animation-delay: 0s;
}
.greetings > span:nth-child(2) {
    animation-delay: 0.2s;
}
.greetings > span:nth-child(3) {
    animation-delay: 0.4s;
}
.greetings > span:nth-child(4) {
    animation-delay: 0.6s;
}
.greetings > span:nth-child(5) {
    animation-delay: 0.8s;
}
.greetings > span:nth-child(6) {
    animation-delay: 1s;
}
.greetings > span:nth-child(7) {
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8) {
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9) {
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10) {
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11) {
    animation-delay: 2s;
}

/* Estilos responsivos */
@media screen and (max-width: 574px) {
    .greetings {
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }

    .description {
        font-size: 1rem;
    }

    .button a {
        font-size: 0.5rem;
    }
}

.description {
    color: #fbff00;
}

/* Estilo para el botón */
.button button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

/* Enlace dentro del botón */
.button button a {
    text-decoration: none;
    color: inherit;
}

/* Resplandor en el botón al pasar el cursor */
.button button:hover {
    background-color: orange;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}
#music-button {
    background-color: yellow; /* Relleno amarillo */
    color: black; /* Texto negro */
    border: 2px solid black; /* Borde negro de 2px */
    padding: 10px 20px; /* Relleno del botón */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

#music-button:hover {
    background-color: orange; /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Aumenta un poco el tamaño */
}
  
  